---
import Layout from "../layouts/Layout.astro"
import { Form } from "../components/contact/Form"
---

<Layout title="Contacto">
  <main class="pb-16 flex flex-col h-full justify-center">
    <div>
      <h2 class="text-5xl font-medium mb-5">Contáctanos</h2>
      <Form/>
    </div>
  </main>
</Layout>