---

---
<nav class="pt-10 hidden mobile:block">
  <ul class="list-none flex justify-between">
    <li><a href="/">INICIO</a></li>
    <li><a href="/nosotros">NOSOTROS</a></li>
    <li><a href="/menu">MENÚS</a></li>
    <li><a href="/contacto">CONTACTO</a></li>
  </ul>
</nav>

